<div style="display: none" class="email_tiaozhuan_1">
    <div class="email_tiaozhuan_1_div1">
        <img src="images/e_right.png"/>
        <span class="email_tiaozhuan_1_div1_span">{{val}}</span>
        <span class="email_tiaozhuan_1_div1_span2">正在跳转中...</span><br/><br/><br/><br/>
        <span ng-click="go()" class="email_tiaozhuan_1_div1_span3">跳转至登录页</span>
    </div>
</div>
<div style="display:none;"  class="email_tiaozhuan_2">
    <div class="email_tiaozhuan_1_div2">
        <img src="images/e_error.png"/>
        <span class="email_tiaozhuan_1_div1_span5">{{val}}</span>
        <span style="margin-top: 182px;" class="email_tiaozhuan_1_div1_span2">正在跳转中...</span>
    </div>
    <span style="margin-left: -5px;" ng-click="go()" class="email_tiaozhuan_1_div1_span8">跳转至登录页</span>
</div>
<div class="bot_tubiao_email">版权所有©北京文思海辉技术有限公司</div>