<div class="conRight_main">
    <h3 class="conRight_main_til"><a ui-sref="manage.subscribe.company({selectType:0})" class="active">管理</a>/我的订阅</h3>
    <ul class="conRight_Collection_Order">
        <li ui-sref="manage.subscribe.company({selectType:0})" ui-sref-active="colRed borderBottom">按开发商</li>
        <li ui-sref="manage.subscribe.class({selectType:1})"   ui-sref-active="colRed borderBottom">按我的分类</li>
    </ul>
    <div class="searchInput">
        <input placeholder="搜索应用"  type="text" ng-model="searchTitle"/>
        <div class="ser_til">
            <img  ng-click="operationSearch(searchTitle)" src="images/img/企业信息-6.png"/>
        </div>
    </div>

    <ul  class="conRight_kind_Order cb">
        <li>应用详情</li>
        <li class="twoLi">{{fenlei}}</li>
        <li class="threeLi">操作</li>
    </ul>

    <div class="conRight_Con_Order" ui-view></div>
    <!--<ul class="fenye">-->
        <!--<li>共&nbsp;&nbsp;<font style="color: red;">{{totalPage}}</font>&nbsp;&nbsp;页</li>-->
        <!--<li>当前页&nbsp;{{nowPage}}&nbsp;</li>-->
        <!--<li><a ng-click="changePage(currentPage*1-1)">上一页</a></li>-->
        <!--<div ng-repeat="tPage in totalPas">-->
            <!--<li><a ng-click="changePage(tPage)" ng-class="{selected:tPage==currentPage}">{{tPage}}</a></li>-->
        <!--</div>-->
        <!--<li><a ng-click="changePage(currentPage*1+1)">下一页</a></li>-->
    <!--</ul>-->
</div>