<div class="jjj">
    <div class="jjj_children">
        <h1 class="s_img_xiah1">用户评分</h1>
        <ul style="background:url(images/xiangqing/2-7.png) no-repeat;" class="ul_42332">
            <li style="color:#ffffff;">当前版本</li>
            <li>所有版本</li>
        </ul>
        <div class="tab_div">
            <div class="jjjdiv cb">
                <div class="xinxinx">
                    <span class="xinxixnsss">平均评分</span>
                    <span class="xinxixnsss">{{total}}份评分</span>
                    <div id="xiangqing_qu_cong">
                        <!--<img class="xinxin_img"  src="images/xiangqing/2-4.png"/>-->
                        <!--<img class="xinxin_img" src="images/xiangqing/2-4.png"/>-->
                        <!--<img class="xinxin_img" src="images/xiangqing/2-4.png"/>-->
                        <!--<img class="xinxin_img" src="images/xiangqing/2-4.png"/>-->
                        <!--<img class="xinxin_img_2" src="images/xiangqing/2-2.png"/>-->
                    </div>

                    <br/><br/>
                    <span class="xinxixnsss">点击评分</span>
                    <!--<img class="xinxin_img" src="images/xiangqing/2-2.png"/>-->
                    <!--<img class="xinxin_img" src="images/xiangqing/2-2.png"/>-->
                    <!--<img class="xinxin_img" src="images/xiangqing/2-2.png"/>-->
                    <!--<img class="xinxin_img" src="images/xiangqing/2-2.png"/>-->
                    <!--<img class="xinxin_img" src="images/xiangqing/2-2.png"/>-->
                    <div id="xzw_starSys">
                        <div id="xzw_starBox">
                            <ul class="star" id="star">
                                <li><a href="javascript:void(0)" title="1" class="one-star">1</a></li>
                                <li><a href="javascript:void(0)" title="2" class="two-stars">2</a></li>
                                <li><a href="javascript:void(0)" title="3" class="three-stars">3</a></li>
                                <li><a href="javascript:void(0)" title="4" class="four-stars">4</a></li>
                                <li><a href="javascript:void(0)" title="5" class="five-stars">5</a></li>
                            </ul>
                            <div class="current-rating" id="showb"></div>
                        </div>
                    </div>
                </div>
                <span class="span_shugexian"></span>
                <div class="xinxin_right">
                    <div  class="xinxin_right_s">
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                    </div>
                    <img class="xinxin_img_input" src="images/xiangqing/miaoshu/1-5.png"/>
                    <span  class="xinxin_right_span">100</span><br/>
                    <div  class="xinxin_right_s">
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                    </div>
                    <img class="xinxin_img_input" src="images/xiangqing/miaoshu/1-4.png"/>
                    <span  class="xinxin_right_span">80</span><br/>
                    <div  class="xinxin_right_s">
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                    </div>
                    <img class="xinxin_img_input" src="images/xiangqing/miaoshu/1-3.png"/>
                    <span  class="xinxin_right_span">60</span><br/>
                    <div  class="xinxin_right_s">
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                    </div>
                    <img class="xinxin_img_input" src="images/xiangqing/miaoshu/1-2.png"/>
                    <span  class="xinxin_right_span">40</span><br/>
                    <div  class="xinxin_right_s">
                        <img class="xinxin_img" src="images/xiangqing/2-4.png"/>
                    </div>
                    <img class="xinxin_img_input" src="images/xiangqing/miaoshu/1-1.png"/>
                    <span  class="xinxin_right_span">20</span>
                </div>
            </div>
            <input class="zuanxie" type="button" ng-click="pinglun()" value="撰写评论"/>
            <input class="zuanxie" type="button" value="应用支持"/>
            <div  class="pinglunqu">
               <textarea id="pinglunqu" placeholder="请输入评论"></textarea>
                <div id="xiangqing_close_newAppAlert"  class="newAppAlert" ng-class="{true:'alert alert-danger alert-dismissable showMsg',false:'alert alert-danger alert-dismissable hideMsg'}[msgBoxShow_saveBu]">
                    <button type="button" id="xiangqing_close" class="close" ng-click="closeMsgBox_saveBu()"
                            aria-hidden="true">
                        &times;
                    </button>
                    {{testBuResult}}
                </div>
                <button ng-click="submit()" style="margin-left: 10%;">提交</button>
                <button ng-click="close()" style="margin-left: 3%; background-color: #cccccc;">取消</button>
            </div>
            <div   class="newAppAlert" ng-class="{true:'alert alert-danger alert-dismissable showMsg',false:'alert alert-danger alert-dismissable hideMsg'}[msgBoxShow_saveBu_2]">
                <button type="button"  class="close" ng-click="closeMsgBox_saveBu_2()"
                        aria-hidden="true">
                    &times;
                </button>
                {{testBuResult_2}}
            </div>
            <span class="zuanxie_userpinglun">{{number}}条用户评论</span>
            <ul class="ul_a">
                <!--<li ng-repeat="pro in pros">-->
                    <!--<span id="pinglun_qu_pinglun_span">{{pro.userName}}</span>-->
                    <!--<div class="pinglun_qu_pinglun">-->
                        <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                        <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                        <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                        <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                        <!--<img class="xinxin_img_2_a" src="images/xiangqing/2-3.png"/>-->
                    <!--</div>-->

                    <!--<span class="timer_span">{{pro.creaTime}}</span>-->
                    <!--<P>{{pro.text}}</P>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<span>用户A</span>-->
                    <!--<img class="xinxin_img_a" src="images/xia ngqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_2_a" src="images/xiangqing/2-3.png"/>-->
                    <!--<span class="timer_span">2016年01月08号16:35</span>-->
                    <!--<P>非常好用的音乐播放器,设计非常人性化,很为用户着想,简约大气,不仅可以听、看MV,还能K歌</P>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<span>用户A</span>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_2_a" src="images/xiangqing/2-3.png"/>-->
                    <!--<span class="timer_span">2016年01月08号16:35</span>-->
                    <!--<P>非常好用的音乐播放器,设计非常人性化,很为用户着想,简约大气,不仅可以听、看MV,还能K歌</P>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<span>用户A</span>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_2_a" src="images/xiangqing/2-3.png"/>-->
                    <!--<span class="timer_span">2016年01月08号16:35</span>-->
                    <!--<P>非常好用的音乐播放器,设计非常人性化,很为用户着想,简约大气,不仅可以听、看MV,还能K歌</P>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<span>用户A</span>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_a" src="images/xiangqing/2-4.png"/>-->
                    <!--<img class="xinxin_img_2_a" src="images/xiangqing/2-3.png"/>-->
                    <!--<span class="timer_span">2016年01月08号16:35</span>-->
                    <!--<P>非常好用的音乐播放器,设计非常人性化,很为用户着想,简约大气,不仅可以听、看MV,还能K歌</P>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="tab_div">......</div>
    </div>
</div>
