<div style="margin-bottom:40px;display:block;" class="jjj">
    <h1 class="xiazuihou_2h1">{{rovio}}</h1>
    <!--<h1 class="xiazuihou_2h1">{{name}}</h1>-->
    <div ng-repeat="s in pros" class="tupian_font">
        <img style="display: inline-block; border-radius: 15px; height: 75px; width: 75px;" onerror="this.src='images/tupianError.jpg'" ng-src="{{s.imageurl}}"/><br/>
        <span>{{s.name}}</span>
    </div>
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-4.png"/><br/>-->
        <!--<span>虾米音乐</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-5.png"/><br/>-->
        <!--<span>QQ音乐</span>-->
    <!--</div>-->
    <!--<h1 class="xiazuihou_2h1 cb">{{use}}</h1>-->
    <h1 class="xiazuihou_2h1 cb">用户还使用</h1>
    <div ng-repeat="t in pros_2" class="tupian_font">
        <img style="display: inline-block; border-radius: 15px; height: 75px; width: 75px;" onerror="this.src='images/tupianError.jpg'" ng-src="{{t.imageurl}}"/><br/>
        <span>{{t.name}}</span>
    </div>
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-6.png"/><br/>-->
        <!--<span>K米</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-6.png"/><br/>-->
        <!--<span>K米</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-7.png"/><br/>-->
        <!--<span>QQ音乐</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-8.png"/><br/>-->
        <!--<span>脑袋上</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-5.png"/><br/>-->
        <!--<span>QQ音乐</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-4.png"/><br/>-->
        <!--<span>QQ音乐</span>-->
    <!--</div>-->
    <h1 class="xiazuihou_2h1 cb">{{kindApp}}</h1>
    <div ng-repeat="tt in pros_3" class="tupian_font">
        <img style="display: inline-block; border-radius: 15px; height: 75px; width: 75px;" onerror="this.src='images/tupianError.jpg'" ng-src="{{tt.imageurl}}"/><br/>
        <span>{{tt.name}}</span>
    </div>
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-5.png"/><br/>-->
        <!--<span>天天动听</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-6.png"/><br/>-->
        <!--<span>K米</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-7.png"/><br/>-->
        <!--<span>QQ音乐</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-8.png"/><br/>-->
        <!--<span>脑袋上</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-5.png"/><br/>-->
        <!--<span>QQ音乐</span>-->
    <!--</div>-->
    <!--<div class="tupian_font">-->
        <!--<img src="images/xiangqing/3-4.png"/><br/>-->
        <!--<span>QQ音乐</span>-->
    <!--</div>-->
</div>
