
<div class="s_ss">
    <div class="zuihoufdfsd">
        <h1 class="xiang_h1"><a ui-sref="businessapp.content({id:0,page:1,total:0,flag:0,appId:1,searchName:''})" class="active">企业应用</a> > <a ui-sref="businessapp.content({id:pros.sortId,page:1,total:0,flag:0,appId:1,searchName:''})" class="active">{{pros.fatherclass}}</a> > {{pros.name}}</h1>
        <div class="xiazuihou_1">
            <div class="xiang_zBottom cb">
                <div class="xiang_B_left">
                    <img class="xiang_img1" onerror="this.src='images/tupianError.jpg'" ng-src="{{pros.imageurl}}">
                    <h1 class="xiang_img1h1">信息</h1>
                    <span class="xia_span1">开发商</span><span class="xia_span2">{{pros.developers}}</span><br/>
                    <span class="xia_span1">类别</span><span class="xia_span2">{{pros.fatherclass}}</span><br/>
                    <span class="xia_span1">更新日期</span><span class="xia_span2">{{pros.update}}</span><br/>
                    <span class="xia_span1">版本</span><span class="xia_span2">{{pros.version}}</span><br/>
                    <span class="xia_span1">订阅量</span><span class="xia_span2">{{pros.subscribe}}</span><br/>
                    <span class="xia_span1">语言</span><span class="xia_span2">{{language}}</span>
                </div>
            </div>
        </div>
        <div class="xiazuihou_2">
            <h1 class="xiazuihou_2h1">{{pros.name}}</h1>
            <span class="xiazuihou_2h1span">{{pros.dre}}</span>
            <ul class="xiazuihou_2ul">
                <li ui-sref-active="xiangqingli" ui-sref="details.details({id:0})">详情</li>
                <li id="aaa" ui-sref-active="xiangqingli2" ui-sref="details.comment({id:1})">评分与评论</li>
                <li ui-sref-active="xiangqingli" ui-sref="details.correlation({id:2})">相关</li>
            </ul>

            <div ui-view=""> </div>

            <!--<input ng-if="pros.station=='可订阅'" type="button" value="可订阅" class="dinfyue" ng-click="dingyue(pros.appId,pros.flowId,1)"/>-->
            <!--<input ng-if="pros.station=='订阅中'" type="button" value="订阅中" class="dinfyue" style="background-color: #f0f0f0;color: #000000;"/>-->
            <!--<input ng-if="pros.station=='已订阅'" type="button" value="已订阅" class="dinfyue" ng-click="dingyue(pros.appId,pros.flowId,3)"/>-->

            <div class="btn-group up_dingyue">
                <button type="button"   ng-click="DingYue(pros.appId,pros.flowId,pros.isApprove)" class="btn btn-default upd">{{pros.attention}}</button>
            </div>

            <div class="btn-group up_fenxiang">
                <button type="button" class="btn btn-default">分享</button>
                <button type="button" id="dropdown-toggle" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="copyText()" rel="#copyText">复制链接</a></li>
                    <li><a>发送给朋友</a></li>
                    <p id="copyText" style="display: none;">瞿永建测试715</p>
                </ul>
            </div>
        </div>
    </div>
</div>
