<div class="conRight_main">
    <div class="pop_form">
        <h3 class="conRight_main_til"><a ui-sref="manage.appadded({Status:0,BiaoShi:'应用上架'})" class="active">管理</a>/应用上架</h3>
        <div class="step_til">
            <p class="step_til_p_5">
                <a href="javascript:void(0)" class="jibenxinxi">基本信息</a>
                <a href="javascript:void(0)">应用详情</a>
                <a href="javascript:void(0)">发布应用</a>
                <a href="javascript:void(0)">发布范围</a>
                <a href="javascript:void(0)" class="over">发布完成</a>
            </p>
        </div>
        <p class="tijiaowancheng">
            <img src="images/5.png">
            <span>已完成，并提交审核，请等待领导审批。</span>
        </p>
    </div>
</div>